!!!
%html.no-js{:lang => ""}
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "ie=edge", "http-equiv" => "x-ua-compatible"}
    %title= ENV['APP_TITLE']
    %meta{:content => "", :name => "description"}
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}

    %link(rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.2/css/bootstrap.css")
    %link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
    :scss
      body {
        padding-top: 5rem;
      }
  %body
    %nav.navbar.navbar-fixed-top.navbar-light.bg-faded
      .container
        = link_to ENV['APP_TITLE'], '/', class: 'navbar-brand'
    .container
      = yield
    %footer.text-xs-center
      %hr
      %p &copy; #{Time.now.year} Mobile Event Guide GmbH.

    %script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
    %script(src="//cdnjs.cloudflare.com/ajax/libs/tether/1.1.1/js/tether.min.js")
    %script(src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.2/js/bootstrap.min.js")
